/*
  Nav styles
*/
.time-btn {
  display: inline-block;
}
.short {
  .short-btn {
    color: $color-primary;
  }
}
.medium {
  .medium-btn {
    color: $color-primary;
  }
}
.long {
  .long-btn {
    color: $color-primary;
  }
}
