/*
  Nav styles
*/
.time-btn {
  display: inline-block;
  margin: 0 6px;
  span {
    padding: 2px;
  }
}

.short {
  .short-btn {
    color: $color-primary;
  }
}

.medium {
  .medium-btn {
    color: $color-primary;
  }
}

.long {
  .long-btn {
    color: $color-primary;
  }
}
