/*
  Nav styles
*/
nav {
  a {
    // color: $color-gray;
    // text-decoration: none;
  }
}
.time-btn {
  display: inline-block;
  margin: 0 6px;
  span {
    padding: 2px;
  }
}

.short {
  .short-btn {
    color: $color-gray;
    text-decoration: none;
  }
}

.medium {
  .medium-btn {
    color: $color-black;
    // text-decoration: underline;
  }
}

.long {
  .long-btn {
    color: $color-gray;
    text-decoration: none;
  }
}
