// Variables

/*
  These variables are overrides to Based.css
  If you're not using this framework, you can delete all of these
*/
$based: 16;
$based_spacing: 1rem / 2;
$based_line-height: 1.4;
$based_headline-line-height: 1.125;
$based_paragraph-line-height: $based_line-height;
$based_grid-breakpoints: (
  xs: 0,
  sm: 32rem,
  md: 48rem,
  lg: 64rem,
  xl: 80rem,
  xxl: 110rem,
);
$based_grid-columns: 8;
$based_grid-max-width: 100%;
$based_grid-gutter-width: $based_spacing;
$based_spacing-multiplier: 4;

/*
  Applcation Config
*/
$color-black: #000;
$color-primary: #2E00EE;
$color-secondary: rebeccapurple;
$color-gray: #E5E5E5;

$base: $based;
$font-size: 64px;
$line-height: $based_line-height;
$spacing: $based_spacing;
