/*
  ABOUT PAGE
*/
.about-this-site-transition {
  background: $color-primary;
  color: white;
}

body.about {
  overflow-y: hidden;
  .about-content {
    visibility: visible;
    opacity: 1;
  }
}

body.about-out {
  overflow-y: hidden;
  .about-content {
    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-name: out-left;
  }
}

.about-content {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-primary;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  padding: 120px 0;
  p, ul, li a, a {
    color: white;
  }
  a:hover {
    color: black;
  }
  .close-about {
    z-index: 999;
    display: block;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
    p {
      margin: 0;
      color: black;
    }
  }
}
