.hi, .page-intro {
  background: white;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: none;
  animation-fill-mode: forwards;
  animation-delay: 1.6s;
  animation-duration: .4s;
  animation-name: fade-out;
  visibility: visible;
  display: block;
  p {
    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-name: in-right;
  }
}

.portrait {
  margin: $based_spacing * 1 0;
  @include breakpoint(md) {
    margin: $based_spacing * 4 0;
  }
}

.section-title {
  margin: $based_spacing * 6 0 0;
}

.project-module {
  margin: $based_spacing * 2 0 $based_spacing * 7;
  @include breakpoint(md) {
    margin: $based_spacing * 2 0 $based_spacing * 10;
  }
  @include breakpoint(lg) {
    margin: $based_spacing * 2 0 $based_spacing * 12;
  }
  @include breakpoint(xl) {
    margin: $based_spacing * 2 0 $based_spacing * 14;
  }
  @include breakpoint(xl) {
    margin: $based_spacing * 2 0 $based_spacing * 16;
  }
}

.project {
  position: relative;
  text-decoration: none;
  // cursor: pointer;
  cursor: url('/assets/images/cursor-pointer.png') 31 23,auto;
  img {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  video {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .project-intro {
    position: relative;
    padding: $based_spacing;
    @include breakpoint(sm) {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }

  .secondary-asset-container {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    .flex-row {
      height: 100%;
    }
  }

  .secondary-asset {
    position: absolute;
    visibility: hidden;
    .video-container {
      pointer-events: none;
      position: relative;
      &:after {
        content:'';
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background: transparent;
      }
    }
  }

  .secondary-asset.active {
    visibility: visible;
  }

  .project-overview {
    background: $color-primary;
    padding: 16px;
    @include breakpoint(sm) {
      padding: 40px;
    }
    p, h5, a {
      color: white;
    }
    a {
      text-decoration: underline;
      display: inline-block;
      margin-bottom: $based_spacing;
      @extend .p;
      word-break: break-all;
    }
  }
}
