body {
  margin: 0;
  color: $color-black;
  @include regular-font();
  line-height: $line-height;
  background: white;
  cursor: url('/assets/images/cursor-default.png') 6 0,auto;
  a {
    cursor: url('/assets/images/cursor-pointer.png') 31 23,auto;
  }
}

::selection { background: $color-primary; }

.page-transition {
  visibility: hidden;
  display: none;
  pointer-events: none;
}

.bg-transition {
  position: relative;
  overflow: hidden;
}

.transition-element {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &:after {
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 0;
  }
  &:before {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 0;
  }
}

.transitioning-to-short {
  .transition-element {
    &:after {
      animation-delay: 0s;
      animation-duration: .6s;
      animation-name: left-right;
      animation-fill-mode: forwards;
    }
  }
}

.transitioning-to-long {
  .transition-element {
    &:before {
      animation-delay: 0s;
      animation-duration: .6s;
      animation-name: right-left;
      animation-fill-mode: forwards;
    }
  }
}

body.short {
  background: white;
  .bg-transition {
    background: white;
  }
  .medium-duration, .medium-duration-block, .medium-duration-flex, .long-duration, .long-duration-block, .long-duration-flex, .medium-and-long-duration {
    display: none;
  }
}

body.long {
  background: #000;
  color: white;
  a {
    color: white;
  }
  .medium-duration {
    display: inline;
  }
  .medium-duration-block {
    display: block;
  }
  .medium-duration-flex {
    display: flex;
  }
  .long-duration {
    display: inline;
  }
  .long-duration-block {
    display: block;
  }
  .long-duration-flex {
    display: flex;
  }
  .not-long-duration {
    display: none;
  }
  footer {
    background: $color-black;
  }
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, pre, table, blockquote {
  margin-top: $spacing;
  margin-bottom: $spacing;
}

p, .p {
  margin-top: 0;
  margin-bottom: $based_spacing;
  font-size: 32px;
  @include breakpoint(md) {
    font-size: 40px;
  }
  @include breakpoint(lg) {
    font-size: 64px;
  }
  @include breakpoint(xxl) {
    font-size: 72px;
  }
}

p.small-text {
  font-size: 18px;
  line-height: 1.5;
  @include breakpoint(md) {
    font-size: 24px;
  }
}

h5 {
  margin-top: $based_spacing * 2;
  margin-bottom: $based_spacing / 2;
  font-size: 18px;
  @include breakpoint(md) {
    font-size: 24px;
  }
}

ul, ol {}

a {
  color: $color-black;
  text-decoration: none;
}
a.active, a.active-time {
  color: $color-primary;
}

a:hover {
  text-decoration: underline;
}

p > a {
  text-decoration: underline;
}

strong, b {
  font-weight: 700;
}

i, em {}

hr {}


.width-full {
  width: 100%;
  height: auto;
}
.minvh50 {
  min-height: 50vh;
}
.minvh100 {
  min-height: 100vh;
}
.vh100 {
  height: 100vh;
}
.differene-text {
  color: white;
  mix-blend-mode: difference;
}
.difference {
  mix-blend-mode: difference;
}
.pe-none {
  pointer-events: none;
}
.nobr {
  white-space: nowrap;
}
