body {
  margin: 0;
  color: $color-black;
  @include regular-font();
  line-height: $line-height;
  background: white;
  transition: background 2s ease-out;
}

.page-transition {
  visibility: hidden;
  display: none;
  // opacity: 0;
  pointer-events: none;
}

// .fade-blur {
//   animation-delay: 0s;
//   animation-duration: .9s;
//   animation-name: fade-blur;
//   animation-fill-mode: forwards;
// }
.transitioning {
  .transition {
    animation-delay: 0s;
    animation-duration: .6s;
    animation-name: out-in;
  }
}

body.short {
  .medium-duration, .medium-duration-block, .medium-duration-flex, .long-duration, .long-duration-block, .long-duration-flex, .medium-and-long-duration {
    display: none;
  }
  background: white;
  .project {
    transition: background 2s ease-out;
  }
  .project-module {
    background: white;
  }
  footer {
    background: white;
  }
}

body.medium {
  background: $color-gray;
  .medium-duration {
    display: inline;
  }
  .medium-duration-block {
    display: block;
  }
  .medium-duration-flex {
    display: flex;
  }
  .long-duration, .long-duration-block, .long-duration-flex {
    display: none;
  }
  .project {
    transition: background 2s ease-out;
  }
  .project-module {
    background: $color-gray;
  }
  footer {
    background: $color-gray;
  }
}

body.long {
  background: $color-black;
  color: white;
  a {
    color: white;
  }
  .medium-duration {
    display: inline;
  }
  .medium-duration-block {
    display: block;
  }
  .medium-duration-flex {
    display: flex;
  }
  .long-duration {
    display: inline;
  }
  .long-duration-block {
    display: block;
  }
  .long-duration-flex {
    display: flex;
  }
  .not-long-duration {
    display: none;
  }
  .project {
    transition: background 2s ease-out;
  }
  .project-module {
    background: $color-black;
  }
  footer {
    background: $color-black;
  }
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, pre, table, blockquote {
  margin-top: $spacing;
  margin-bottom: $spacing;
}

p, .p {
  margin-top: 0;
  margin-bottom: $based_spacing;
  font-size: 32px;

  @include breakpoint(md) {
    font-size: 40px;
  }
  @include breakpoint(lg) {
    font-size: 64px;
  }

  @include breakpoint(xxl) {
    font-size: 72px;
  }
}
p.small-text {
  font-size: 18px;
  line-height: 1.5;
  @include breakpoint(md) {
    font-size: 24px;
  }
}
h5 {
  margin-top: $based_spacing * 2;
  margin-bottom: $based_spacing / 2;
  font-size: 18px;
  @include breakpoint(md) {
    font-size: 24px;
  }
}

ul, ol {}

a {
  color: $color-black;
  text-decoration: none;
}
a.active, a.active-time {
  color: $color-primary;
}

a:hover {
  text-decoration: underline;
}

p > a {
  text-decoration: underline;
}

strong, b {
  font-weight: 700;
}

i, em {}

hr {}


.width-full {
  width: 100%;
  height: auto;
}
.minvh50 {
  min-height: 50vh;
}
.minvh100 {
  min-height: 100vh;
}

.vh100 {
  height: 100vh;
}

.differene-text {
  color: white;
  mix-blend-mode: difference;
}

.difference {
  mix-blend-mode: difference;
}

.pe-none {
  pointer-events: none;
}

.nobr {
  white-space: nowrap;
}
