/*
  Font settings
*/

@mixin regular-font() {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
}

@mixin bold-font() {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
}
