<div class="row">
  <div class="col span-8 medium-duration">
    <p class="text-center my1 differene-text"><span class="medium-duration">I believe that we can create positive change through design.</p></span>
  </div>
  <div class="col span-8 offset-0 span-6@sm offset-1@sm my1 my2@md long-duration">
    <p class="small-text differene-text"><span class="">My dream is to be part of a team that blurs the boundaries between art, design and technology to solve problems that have impact on the quality of our lives.</span></p>
  </div>
  <div class="col span-8 my1 my2@md long-duration">
    <p class="text-center  differene-text"><span class="long-duration">At Cinco, we create the ideas, platforms, products, and experiences that make progressive brands thrive. We’re a team of design thinkers, from strategists to developers, focused on fostering conversations between brands and their audiences.</span></p>
  </div>
  <div class="col span-8 offset-0 span-6@sm offset-1@sm my1 my2@md medium-and-long-duration">
    <p class="medium-duration-block small-text differene-text">My education and working experience have given me a solid foundation in marketing, technology, and design. I have a BS in economics and experience in design, user experience and development. I have worked with clients including Nike, Microsoft, Nixon, Gogoro, Electronic Arts, Anki, Nextbit, Boa, Bonds, AMP and more.</p>
    <p class="small-text differene-text"><span class="long-duration">I rely on a constantly evolving user-centered design process that champions user needs through prototyping, learning and collaboration. I get excited about focused and smart design solutions and my favorite digital experiences are the ones that contain refinements to the things that most people don't notice at first glance. I think good UX conveys emotion and helps define relationships between brands and users.</span></p>
    <p class="long-duration-block small-text differene-text">I was born and raised in Laguna Beach California. I grew up immersed in the arts, sports (mostly soccer) and surf culture. Today I live and work in Portland Oregon with my wife Lauren, my son Everett and my Newfoundland dog Maggie Mae. When not at work, I spend most my time chasing my son around the living room or a ball around the soccer field. I also work on several personal projects including The World’s Game, an ongoing photography collection of soccer pitches around the globe.</p>
  </div>
</div>
