    <footer>
      <div class="wrap ">

        <div class="row align-top align-right minvh50 py1">
          <div class="col span-8 text-right">
            <p>Say Hi.<br>I’ll respond.<br>
            <a href="#">email</a><br>
            <a href="#">instagram</a></br>
            <a href="#">linkedin</a>
            </p>
          </div>
        </div>

        <div class="row align-bottom align-left minvh50 py1">
          <div class="col span-8">
            <div class="feedback">
              <p class=""> <span class="how-easy">How easy was that?</span><br><span class="not-long-duration">Check out the <a class="time-btn long-btn footer-long-btn" data-time="long" href="#">5 min</a> version to see more.</p>
              <p class="long-duration-block how-easy">No seriously, what did you think?</p>
              <ul class="">
                <li><a href="#"><img class="difference feedback-link" data-reaction="happy" src="/assets/images/happy.svg" alt=""></a></li>
                <li><a href="#"><img class="difference feedback-link" data-reaction="eh" src="/assets/images/eh.svg" alt=""></a></li>
                <li><a href="#"><img class="difference feedback-link" data-reaction="sad" src="/assets/images/sad.svg" alt=""></a></li>
              </ul>
              <p class="reaction happy">Thank you. </p>
              <p class="reaction eh">Eh. ok. please give me some <a href="mailto:austenezzell@gmail.com">feedback</a> on how to make the experience better.</p>
              <p class="reaction sad">Well shit. please give me some <a href="mailto:austenezzell@gmail.com">feedback</a> on how to make the experience better.</p>
          </div>
        </div>

      </div>

    </footer>


    <!-- build:js /scripts/bundle.min.js -->
    <script type="text/javascript" src="/scripts/bundle.js"></script>
    <!-- endbuild -->
  </body>
</html>
