    <footer>
      <div class="wrap bg-transition">
        <div class="transition-element"></div>
        <div class="row align-middle align-center vh100 py1">
          <div class="col span-8 text-center">
            <p>Say Hi.<br>I’ll respond.<br>
            <a href="#">email</a><br>
            <a href="#">instagram</a></br>
            <a href="#">linkedin</a>
            </p>
          </div>
        </div>

        <div class="row align-bottom py1">
          <div class="col span-7 span-5@md">
            <div class="feedback">
              <p class="small-text"><span class="not-long-duration">Check out the <a class="time-btn long-btn footer-long-btn" data-time="long" href="#">5 min</a> version to see more, or read a little <a href="#" class="about-link">about this site.</a></p>
              <p class="small-text long-duration-block"><a href="#" class="about-link">About this site.</a></p>
              <p class="small-text m0"><span class="how-easy">How easy was that?</span></p>
              <ul class="">
                <li><a href="#"><img class="small-text difference feedback-link" data-reaction="happy" src="/assets/images/happy.svg" alt=""></a></li>
                <li><a href="#"><img class="small-text difference feedback-link" data-reaction="eh" src="/assets/images/eh.svg" alt=""></a></li>
                <li><a href="#"><img class="small-text difference feedback-link" data-reaction="sad" src="/assets/images/sad.svg" alt=""></a></li>
              </ul>
              <p class="reaction happy">Thank you. </p>
              <p class="reaction eh">Eh. Ok. Please give me some <a href="mailto:austenezzell@gmail.com">feedback</a> on how to make the experience better.</p>
              <p class="reaction sad">Well shit. Please give me some <a href="mailto:austenezzell@gmail.com">feedback</a> on how to make the experience better.</p>
            </div>
          </div>
        </div>

        <div class="about-this-site-transition page-transition ">
          <div class="wrap">
            <div class="row vh100">
              <div class="col span-8 align-middle">
                <p>about this site</p>
              </div>
            </div>
          </div>
        </div>

        <div class="about-content">
          <div class="close-about"><p class="small-text">close</p></div>
          <div class="wrap">
            <div class="row">
              <div class="col span-8">
                <p>For the past few years I have re-designed my site every year. </p>
                <p>I use it as an opportunity to take stock of where I'm at, and experiment with new ideas. </p>
                <p>The 2017 version is built on <a href="https://github.com/bitmap/uno">Uno</a> and with <a href="https://github.com/bitmap/based.css">Based</a> by <a href="http://cabe.io">Cabe Branson</a>. The font is <a href="https://github.com/weiweihuanghuang/Work-Sans">Work Sans</a> by Wei Huang.</p>
                <p>Design consulting and inspiration from all of the talented people at <a href="http://cincodesign.com">Cinco Design</a> but mostly <a href="http://www.zacharyallott.com/">Zach</a>, <a href="http://jared-milam.squarespace.com/">Jared</a>, <a href=“http://cabe.io/”>Cabe</a>, <a href="http://nathansearles.com/">Nate</a> and Spencer and Scott.</p>
                <p>When I run into server problems or tricky Javascript I ask <a href=“http://cabe.io/”>Cabe</a> or <a href="http://nathansearles.com/">Nate</a>.</p>
                <p>Special thanks to my wife Lauren for user testing, design feedback, and putting up with me.</p>
                <p>Here are some old versions of this site – <a href="http://2016.austenezzell.com">2016</a>, <a href="http://2015.austenezzell.com">2015</a>, <a href="http://2014.austenezzell.com">2014</a>, <a href="http://2013.austenezzell.com">2013</a></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </footer>


    <!-- build:js /scripts/bundle.min.js -->
    <script type="text/javascript" src="/scripts/bundle.js"></script>
    <!-- endbuild -->
  </body>
</html>
