    <footer>
      <div>
        <p>Say Hi. I’ll respond. Promise.</p>
        <a href="#">austenezzell@gmail.com</a>
        <a href="#">instagram</a>
        <a href="#">linkedin</a>
      </div>
      <div>
        <p>How easy was that?<br><span class="not-long-duration">Check out the <a class="time-btn long-btn footer-long-btn" data-time="long" href="#">5 min</a> version to see more.</p></p>
        <p class="long-duration">No seriously, Please give me some <a href="mailto:austenezzell@gmail.com" subject="austenezzell.com feedback">feedback</a> on your experience.</p>
      </div>
    </footer>


    <!-- build:js /scripts/bundle.min.js -->
    <script type="text/javascript" src="/scripts/bundle.js"></script>
    <!-- endbuild -->
  </body>
</html>
