<div class="wrap bg-transition">
  <div class="transition-element"></div>
  <div class="row">
    <div class="hi">
      <div class="wrap">
        <div class="row vh100">
          <div class="col span-8 align-middle">
            <p>hi</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col span-8 offset-0 span-6@sm offset-1@sm  span-4@xxl offset-2@xxl">
      <p class="text-center mt2 my4@md differene-text">I'm Austen Ezzell,<br><span class="nobr">Creative Director –</span><br><span class="nobr">Digital Experience</span><br>at <span class="nobr"><a href="http://www.cincodesign.com" class="differene-text">Cinco Design</a>.</span></p>
    </div>
    <div class="col span-8 offset-0 span-6@sm offset-1@sm  span-4@xxl offset-2@xxl ">
      <nav class="primary-nav mb2"><p class="text-center small-text "><span class="nobr differene-text">How much time</span> <span class="nobr differene-text">do you have?</span><br><a id="primary-short-btn" class="time-btn short-btn" data-time="short" href="#">30 seconds</a> <a id="primary-long-btn" class="time-btn long-btn " data-time="long" href="#">5 minutes</a></p></nav>
    </div>
    <div class="col span-8 offset-0 transition px0">
      <div class="portrait long-duration-block">
        <div class="flex-row project">
          @@include('_hero-img.html', { "image": "/assets/images/ae.jpg", "col-offset": "span-6 offset-1 span-4@sm offset-2@sm" })
          @@include('_secondary-image.html', { "image": "/assets/images/ev.jpg", "col-offset": "span-5 offset-3 span-2@sm offset-3@sm" })
          @@include('_secondary-image.html', { "image": "/assets/images/l-india.jpg", "col-offset": "span-6 offset-0 span-4@sm offset-0@sm" })
          @@include('_secondary-image.html', { "image": "/assets/images/maggie.jpg", "col-offset": "span-3 offset-5 span-3@sm offset-4@sm" })
          @@include('_secondary-image.html', { "image": "/assets/images/thailand-soccer.jpg", "col-offset": "span-4 offset-2 span-2@sm offset-3@sm" })
        </div>
      </div>
    </div>
    <div class="col span-8 offset-0 span-6@sm offset-1@sm  span-4@xxl offset-2@xxl transition">
      <section class="bio">@@include("_bio.html")</section>
    </div>
  </div>
</div>

<section class="work transition bg-transition ">
  <div class="transition-element"></div>

  <div class="flex-row project-module project long-duration-flex">
    @@include('_hero-img.html', { "image": "/assets/images/hanour/travis.jpg", "col-offset": "span-7 offset-1 span-4@sm offset-0@sm" })
    @@include('_hook.html', { "hook": "Introducing a director who’s work speaks for itself.", "col-offset": "span-7 offset-1 span-3@sm offset-3@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/hanour/landing-screen.png", "col-offset": "span-7 offset-0 span-5@sm offset-3@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/hanour/beckhamjr.png", "col-offset": "span-7 offset-1 span-5@sm offset-0@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/hanour/nike-vapor.png", "col-offset": "span-6 offset-0" })
    @@include('_secondary-video.html', { "video-link": "https://player.vimeo.com/external/220129074.hd.mp4?s=7ecd273c4757ca2ab959cd0956311adf0afc7417&profile_id=174", "col-offset": "span-8 offset-0 span-6@sm offset-1@sm" })
    @@include('_secondary-video.html', { "video-link": "https://player.vimeo.com/external/225182874.hd.mp4?s=25e4cf2c225b5d2bb5ef73b40069545802ab4936&profile_id=174", "col-offset": "span-7 span-4@sm offset-0@sm" })
    <div class="secondary-asset-container secondary-asset">
      <div class="flex-row">
        <div class="col span-8 offset-0 span-5@sm offset-2@sm align-middle project-overview ">
          <h5>My Role: UX / UI / Development / Photography</h5>
          <p>I partnered with Travis to create a platform that enables him to showcase his work and tell the story behind the stories.</p>
          <a href="http://www.travishanour.com" target="=_blank">travishanour.com</a>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-row project-module project">
    @@include('_hero-img.html', { "image": "/assets/images/boa/cycleing1.jpg", "col-offset": "span-8 offset-0 span-6@sm offset-1@sm" })
    @@include('_hook.html', { "hook": "Experience the all new Boa.", "col-offset": "span-7 offset-0 span-3@sm offset-0@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/boa/home.png", "col-offset": "span-7 offset-0 span-6@sm offset-0@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/boa/dial-2.png", "col-offset": "offset-1 span-3@sm offset-5@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/boa/categories.png", "col-offset": "span-6 offset-1 span-5@sm offset-2@sm" })
    <div class=" secondary-asset-container secondary-asset">
      <div class="flex-row">
        <div class="col span-8 offset-0 span-6@sm offset-1@sm align-middle project-overview ">
          <h5>My Role: UX / UI</h5>
          <p>Cinco helped Boa establish a new brand position through strategy, messaging, brand identity, visual language and digital experience.</p>
          <a href="http://www.theboasystem.com" target="_blank">theboasystem.com</a>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-row project-module project long-duration-flex">
    @@include('_hero-video.html', { "video-link": "https://player.vimeo.com/external/220132638.hd.mp4?s=c27bed412e6c1a5cbd732fde078e953b5bbe4f1c&profile_id=174", "col-offset": "span-8 span-6@sm offset-0" })
    @@include('_hook.html', { "hook": "Introducing the world's first smartscooter.", "col-offset": "span-8 offset-0 span-4@sm offset-4@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/gogoro/hero.jpg", "col-offset": "span-8 offset-0 span-5@sm offset-0@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/gogoro/keyart.jpg", "col-offset": "span-7 offset-1 span-4@sm offset-3@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/gogoro/sport.jpg", "col-offset": "span-7 offset-0span-4@sm offset-0@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/gogoro/sport_2.jpg", "col-offset": "span-6 offset-1 span-4@sm offset-4@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/gogoro/retail-1.png", "col-offset": "span-6 offset-2 span-2@sm offset-3@sm" })
    @@include('_role-description.html', { "role": "UX, UI and Art Direction on coponants of gogoro.com", "description": "Cinco worked closely with Gogoro's team to build their brand messaging and digital experience.", "col-offset": "span-8 offset-0 span-6@sm offset-2@sm" })
  </div>

  <div class="flex-row project-module project long-duration-flex">
    @@include('_hero-img.html', { "image": "/assets/images/themission/hero.jpg", "col-offset": "span-7 offset-1 span-6@sm offset-1@sm" })
    @@include('_hook.html', { "hook": "Smart utility for action sports.", "col-offset": "span-7 offset-1 span-3@sm offset-0@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/themission/faces.jpg", "col-offset": "span-6 offset-1" })
    @@include('_secondary-video.html', { "video-link": "https://player.vimeo.com/external/189868629.hd.mp4?s=85f4df57f6e0e1f97a7b482310ba16ab6dbab086&profile_id=174", "col-offset": "span-7 offset-0 span-4@sm offset-0@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/themission/surf.jpg", "col-offset": "span-6 offset-2 span-5@sm offset-3@sm" })
    @@include('_role-description.html', { "role": "My Role: UX / UI of watch face", "description": "With emphasis on glanceability and contextual notifications, we took what was most important to riders and designed watch faces that stayed true to Nixon's design ethos.", "col-offset": "span-8 span-7@sm offset-0 " })
  </div>

  <div class="flex-row project-module project">
    @@include('_hero-img.html', { "image": "/assets/images/hora/hora_appphoneinhand3-2.jpg", "col-offset": "span-7 offset-0 span-5@sm offset-3@sm" })
    @@include('_hook.html', { "hook": "Can a connected smart device help you disconnect?", "col-offset": "span-7 offset-0 span-5@sm offset-0@sm" })
    @@include('_secondary-video.html', { "video-link": "https://player.vimeo.com/external/165376142.hd.mp4?s=81c1496a030ac87802a95df3da50f6cec7ff59fb&profile_id=174", "col-offset": "span-7 offset-1 span-6@sm offset-1@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/hora/hora_off_base.jpg", "col-offset": "span-7 offset-1 span-5@sm offset-3@sm" })
    @@include('_secondary-video.html', { "video-link": "https://player.vimeo.com/external/167498190.hd.mp4?s=091c3e983743f4596e12cd96fab817112b4b32bf&profile_id=119", "col-offset": "span-6 offset-1 span-6@sm offset-1@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/hora/Hora_In_Hand.jpg", "col-offset": "span-8 offset-0 span-8@sm offset-0@sm" })
    @@include('_secondary-video.html', { "video-link": "https://player.vimeo.com/external/167500442.hd.mp4?s=f934a9db1f0b95530442e2931891572d18c2b347&profile_id=119", "col-offset": "span-7 offset-0 span-4@sm offset-2@sm" })
    @@include('_role-description.html', { "role": "My Role: UX / UI", "description": "Cinco created a device that helps us control the rhythm of our day, keeps us connected to what's important and limits our reliance on screens.", "col-offset": "span-8 offset-0 span-5@sm offset-2@sm" })
  </div>

  <div class="flex-row project-module project ">
    @@include('_hero-img.html', { "image": "/assets/images/nextbit/rebel-fist.jpg", "col-offset": "span-8 offset-0 span-4@sm offset-2@sm" })
    @@include('_hook.html', { "hook": "Introduce the world's first cloud based smartphone.", "col-offset": "span-8 offset-0 span-4@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/nextbit/gallery2.jpg", "col-offset": "span-7 offset-1 span-4@sm offset-0@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/nextbit/gallery1.jpg", "col-offset": "span-6 offset-2 span-3@sm offset-5@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/nextbit/gallery3.jpg", "col-offset": "span-7 offset-1 span-5@sm offset-2@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/nextbit/gallery4.jpg", "col-offset": "span-6 offset-0 span-3@sm offset-0@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/nextbit/home-1.png", "col-offset": "span-6 offset-1 span-4@sm offset-2@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/nextbit/design.png", "col-offset": "offset-0 span-3@sm offset-5@sm" })
    @@include('_role-description.html', { "role": "My Role: UX / UI", "description": "Cinco helped Nextbit clarify, craft and deliver their message using a staged approach that allowed us to quickly iterate, test, observe and learn from our users.", "col-offset": "span-8 offset-0 span-6@sm offset-1@sm" })
  </div>

  <div class="flex-row project-module project long-duration-flex">
    @@include('_hero-img.html', { "image": "/assets/images/diary/diary-5.jpg", "col-offset": "span-7 offset-1 span-4@sm offset-1@sm" })
    @@include('_hook.html', { "hook": "Photo diary.", "col-offset": "span-7 offset-1 span-3@sm offset-4@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/diary/diary-2.jpg", "col-offset": "span-8 offset-0 span-3@sm offset-0@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/diary/diary-4.jpg", "col-offset": "span-7 offset-1 span-5@sm offset-2@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/diary/diary-3.jpg", "col-offset": "span-6 offset-1 span-2@sm offset-6@sm" })
    @@include('_secondary-image.html', { "image": "/assets/images/diary/diary-1.jpg", "col-offset": "span-8 offset-0 span-4@sm offset-1@sm" })
    <div class="secondary-asset-container secondary-asset">
      <div class="flex-row">
        <div class="col span-8 offset-0 span-6@sm offset-0@sm align-middle project-overview ">
          <h5>My Role: Photography</h5>
          <p>My photo diary.</p>
          <a href="http://diary.austenezzell.com" target="_blank">diary.austenezzell.com</a>
        </div>
      </div>
    </div>
  </div>

</section>
